
select option[value="draw"] {
    color: #969b89;
    font-weight: 500 !important;
    font-size: 13px;
    }
    
    
    
    select option[value="drawcircle"] {
    color: #969b89;
    font-weight: 500 !important;
    /* background-image: url("../src/imgs/test.png"); */
    background-size: 15px 15px;
    background-position: center;
    font-size: 13px;
    
    }
    .mode-text2{
      font-size: 10px !important;
    }
    
    
    
    select option[value="drawPolygon"] {
    color: #969b89;
    font-weight: 500 !important;
    font-size: 13px;
    }
    
    
    
    select option[value="editing"] {
    color: #969b89;
    font-weight: 500 !important;
    
    }
    
    
    
    
    
    #editor path {
      
      fill: #bfcad9 !important; 
      fill-opacity: 0.2 !important;
    }
    
    
    .icon {
      margin-left: 5px; 
      font-size: 18px; 
    }
    
    .mode-text {
      color: rgb(116, 14, 14) !important; 
    }
    
    #draw{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: 30px;
      height: 30px;
    }
    
    
    .mode-text{
      background-color: red;
    }
    
    
    
    .custom-dropdown {
      /* color: #141511; */
      /* margin-right: 20px;
      margin-top: 20px;
      padding: 4px;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none; */
      background-image: url("../images/polygon.png");
      background-repeat: no-repeat;
      background-position: right 8px center;
      background-size: 12px;
      background-color: blue;
 
    }
    